{% extends 'base.html.twig' %}

{% block title %}Edit Type{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Edit Type</h1>

        <div class="card">
            <div class="card-body">
                {{ include('type/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>

        <a href="{{ path('app_type_index') }}" class="btn btn-secondary mt-3">Back to List</a>

        {{ include('type/_delete_form.html.twig') }}
    </div>
{% endblock %}